.text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
  }
  .name-text{
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .service{
      background-color: rgb(224, 245, 245);
      border-radius:25px ;
  }
  .service img{
      width: 100%;
     
  }
  
  .service:hover{
    background-color: rgb(212, 247, 212);
  }